<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://wx4.sinaimg.cn/mw690/006DCRq3gy1hl05qmw4g1j31ag190nb4.jpg"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{css/global.css}" />
	<title>岚天论坛网-404</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header"></header>

		<!-- 内容 -->
		<div class="main">
			<div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3">
				<img src="https://img0.baidu.com/it/u=3269863590,2480965677&fm=253&fmt=auto&app=138&f=GIF?w=879&h=500" style="width: 100%; height: 100%; object-fit: cover;">
			</div>
		</div>


		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer"></footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script th:src="@{js/global.js}"></script>
</body>
</html>
